services:
  tileserver:
    build:
      context: .
      dockerfile: Dockerfile.tileserver
    volumes:
      - tiles_data:/data
    restart: unless-stopped
    networks:
      - dokploy-network

volumes:
  tiles_data:
    external: true

networks:
  dokploy-network:
    external: true
